button{
    
    background-color: blue;
    border: 15cm;
    padding: 15px;
    font-size: 30px;
    
    border-radius: 10px;


}

h2{
    color: blueviolet;
    background-color: burlywood;
}
h3{
    color: yellowgreen;
}

h1{
    color: lightcoral;
    background-color: aqua;

}

.ioc{
    border-radius: 20px;
}
p{
    color: cadetblue;
}
img{
    background-color: black;
}
